body {
  background-color: black;
  color: white;
  font-family: monospace;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

#name, #age, #option, #category, #button {
  font-family: monospace;
}

#button {
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
